// Packaging
PRODUCT_NAME = Validated
PRODUCT_BUNDLE_IDENTIFIER = de.benjamin-encz.Validated
INFOPLIST_FILE = $(SRCROOT)/Validated/configuration/info.plist

// Versioning
CURRENT_PROJECT_VERSION = 3
DYLIB_CURRENT_VERSION = 3.0.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11
CLANG_ENABLE_MODULES = YES

// User-defined
FRAMEWORK_LICENSE = Copyright © 2016 Benjamin Encz. MIT License.
BUNDLE_SIGNATURE = BENC
